Chapter3_N8NFramework/n8n/testgmailSpam.json
{
  "name": "Delete Gmail Spam - Scheduled Sweep",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [260, 300],
      "name": "Cron"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "additionalFields": {
          "q": "in:spam",
          "includeSpamTrash": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [520, 300],
      "name": "Gmail Get Many"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "messageId": "={{$json.id}}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [780, 300],
      "name": "Gmail Delete"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Gmail Get Many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Many": {
      "main": [
        [
          {
            "node": "Gmail Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}

